/* Mobile */
@media (min-width: 576px) {}

/* Tablet */
@media (max-width: 768px) {
    .header {
        padding: 10px 20px;
    }

    .header .title {
        font-size: 0 !important;
    }

    .header .title::after {
        content: "IWIS" !important;
        font-size: 30px !important;
    }

    .info_area {
        border-radius: 15px !important;
        padding: 8px !important;
        margin: 0 20px 10px 20px !important;
    }

    .contents_map {
        position: relative !important;
    }

    .contents_map .contents {
        position: absolute !important;
        width: 100% !important;
        bottom: -93%;
        margin: 0 !important;
        border-radius: 32px 32px 0 0 !important;
        box-shadow: 0 -7px 20px rgba(0, 0, 0, 0.05) !important;
        padding: 30px 20px 20px 20px !important;
        transition: bottom .3s ease;

        touch-action: none;
        cursor: grab;
    }

    .contents_map .contents:active {
        cursor: grabbing;
    }

    .map_area .position_info {
        bottom: 40px;
    }

    .map_area .flex_division {
        width: 95%;
    }


    .leaflet-touch .leaflet-bar {
        top: 40px;
    }

    .map_area .num_info {
        top: 120px;
    }

    #btnRightShow {
        display: none;
    }


    /* INDEX */
    .index .container .main_content {
        margin: 0 20px 30px 20px !important;
    }

    .real_num .rwy_title {
        height: 35px;
    }

    /* FEED */
    .feed .main_content {
        margin: 0 !important;
        overflow-x: auto !important;
    }

    .feed .airstrip {
        justify-content: start;
        gap: 12px;
    }

    .airstrip_detail .tit,
    .rwy_list .tit span {
        font-size: 14px !important;
    }

    .feed .contents {
        display: none;
        position: absolute !important;
        width: 100% !important;
        bottom: 0;
        margin: 0 !important;
        border-radius: 32px 32px 0 0 !important;
        box-shadow: 0 -7px 20px rgba(0, 0, 0, 0.05) !important;
        padding: 30px 20px 20px 20px !important;
        transition: bottom .3s ease;
        touch-action: none;
        cursor: grab;

        background-color: pink !important;
    }

    .feed .main_content {
        border-radius: 0;
        margin: 0;
    }

    .wpr_area {
        display: none !important;
    }

    .airship_graph {
        padding-right: 20px !important;
    }

    .rwy_list,
    .box_airstrip {
        width : 145px !important;
    }

    .airstrip_list>li,
    .r_list>ul>li {
            width: 70px !important;
    }

    .airstrip_list>li,
    .height_area>ul>li {
        height: 80px !important;
    }

    .tooltip_wrap {
        DISPLAY: NONE;
    }
}

@media (max-width: 1024px) {
    .info_area {
        border-radius: 15px !important;
    }
}