/* -------문숫자------- */
/* 넓이 기준 */
@media screen and (max-width: 1100px) {
    .container {
        flex-direction: column-reverse;
        justify-content: start;
    }

    .container .main_content {
        width: auto;
        height: 100%;
        /* height: calc(100% - 55px); */
        margin: 0 30px 30px 30px;
    }

    .info_area {
        width: auto;
        margin: 0 30px 10px 30px;
        padding: 15px 25px;
        border-radius: 15px !important;
        box-sizing: border-box;
        flex-direction: row;
    }

    .info_area li {
        margin-bottom: 0;
    }

    .menu,
    .menu_setting {
        display: flex;
        flex-direction: inherit;
        gap: 5px;
    }

    .real_num {
        font-size: 32px;
    }

    .real_num>ul {
        height: calc(85% / 8);
    }
}

@media screen and (max-width: 800px) {
    .header .runway {
        display: none;
    }
}

/* 0813: 동일한 max-width: 650px 미디어쿼리 두 개를 하나로 병합 */
@media screen and (max-width: 650px) {
    .tit {
        font-size: 30px;
    }

    .real_num {
        font-size: 30px;
    }

    .real_num .rwy_title {
        font-size: 14px;
    }

    .btn_m {
        width: 30px;
        height: 30px;
    }
}

@media screen and (max-width: 550px) {
    .header p {
        font-size: 20px;
    }

    .real_num .rwy_title {
        font-size: 12px;
    }

    .tit button {
        width: 80px;
        height: 30px;
        padding: 0;
        font-weight: 600;
    }

    .ico_s {
        background-size: 24px 24px;
    }
}

@media screen and (max-width: 500px) {
    .tit {
        font-size: 25px !important;
        gap: 10px;
    }

    .real_num {
        font-size: 22px;
    }
}

@media screen and (max-width: 450px) {
    .real_num {
        font-size: 20px !important;
    }
}


/* 높이기준 반응형 */
@media screen and (max-height: 800px) {
    .info_area {
        padding: 15px 25px;
    }

    .btn_m {
        width: 30px;
        height: 30px;
    }

    .real_num {
        height: 90%;
    }
}

@media screen and (max-height: 760px) {
    .real_num {
        font-size: 30px;
    }
}

@media screen and (max-height: 690px) {
    .tit {
        font-size: 32px;
    }

    .tit button {
        height: 30px;
        padding: 0;
    }

    .real_num {
        font-size: 28px;
        height: 90%;
    }
}

@media screen and (max-height: 620px) {
    .tit {
        font-size: 25px;
    }

    .tit button {
        height: 30px;
        margin: 0;
    }

    .real_num {
        height: 90%;
        font-size: 25px;
    }

    .btn_m {
        width: 24px;
        height: 24px;
    }

    .ico_s {
        background-size: 24px 24px;
    }

    .menu,
    .menu_setting {
        gap: 5px;
    }
}

@media screen and (max-height: 550px) {
    .real_num {
        font-size: 22px;
    }
}


/* 희원 1210 */
/* -------그래프------- */
/* 높이기준 설정 */
/* @media screen and (max-height: 800px) {
    .listT tbody tr:last-child {
        display: none;
    }
}

@media screen and (max-height: 780px) {
    .listT tbody tr:nth-child(5) {
        display: none;
    }
}

@media screen and (max-height: 740px) {
    .listT tbody tr:nth-child(4) {
        display: none;
    }
}

@media screen and (max-height: 720px) {

    .toggle_btn,
    .listT tbody tr:nth-child(3) {
        display: none;
    }

    .play_footer {
        height: 35px
    }
}

@media screen and (max-height: 690px) {
    .listT tbody tr:nth-child(2) {
        display: none;
    }
} */

@media screen and (max-height: 650px) {
    /* .listT {
        display: none;
    } */

    .play_footer {
        height: 35px;
    }
}

@media screen and (max-height: 600px) {
    /* .play_footer {
        display: none;
    } */

    .tit_graphic {
        font-size: 25px;
    }

    article.real_num.type_s {
        font-size: 22px;
    }
}

/* 넓이기준 */
@media screen and (max-width: 1100px) {
    .container .graphic_main_content {
        height: 90%;
        overflow: hidden;
    }

    .tit_graphic {
        font-size: 25px;
        margin-top: 0px !important;
    }

    .contents_map .contents {
        height: calc(100% - 30px);
        margin: 15px 30px 15px 20px;
        z-index: 100000;
    }

    .page_open {
        right: 0;
    }
}

@media screen and (max-width: 1000px) {
    .contents_map .contents {
        margin: 15px 30px 15px 10px;
    }

    article.real_num.type_s {
        font-size: 20px !important;
    }

    .tit {
        gap: 8px;
    }

    .btn_l {
        font-size: 16px;
    }

    .real_num {
        padding: 5px 10px !important;
    }

    .rwy_title li:nth-child(2) {
        font-size: 0;
    }

    .rwy_title li:nth-child(2)::before {
        content: "W/M";
        visibility: visible;
        font-size: 12px;
    }

    .rwy_title li:nth-child(3) {
        font-size: 0;
    }

    .rwy_title li:nth-child(3)::before {
        content: "L/G";
        visibility: visible;
        font-size: 12px;
    }
}

@media screen and (max-width: 950px) {
    .box_error {
        margin: auto;
        padding: 40px 30px;
        width: 520px;
        font-size: 24px;
        font-weight: 600;
    }
}

@media screen and (max-width: 900px) {
    .tit {
        gap: 3px;
    }

    .tit_graphic {
        font-size: 24px !important;
    }

    article.real_num.type_s {
        font-size: 18px !important;
    }

    article.real_num>ul.alert::after {
        border-radius: 10px;
        border-left: 3px solid #FF0000;
    }

    .listT th {
        font-size: 14px;
        height: 20px;
    }

    .listT td {
        padding: 2px;
        font-size: 14px;
    }

    .time_bar input[type="range"] {
        width: 150px;
    }

    .play_footer {
        padding: 0 20px 0 20px;
    }

    .details_list,
    select {
        min-width: 90px;
        font-size: 15px;
    }
}

@media screen and (max-width: 750px) {
    .tit_graphic {
        font-size: 20px !important;
    }
}


/* -------연직------ */
/* 높이기준 */
@media screen and (max-height: 920px) {
    .airstrip_list>li {
        width: 85px;
        height: 85px;
    }

    .rwy_list {
        width: 174px;
    }

    .box_airstrip {
        width: 172px;
        height: 85px;
    }

    .height_area>ul>li {
        height: 85px;
    }

    .r_list>ul>li {
        width: 85px;
        height: 45px;
    }

    .r_area .tit_r07,
    .r_area .tit_r25 {
        width: 80px;
    }
}

@media screen and (max-height: 880px) {
    .airstrip_list>li {
        width: 80px;
        height: 80px;
    }

    .rwy_list {
        width: 164px;
    }

    .box_airstrip {
        width: 162px;
        height: 80px;
    }

    .height_area>ul>li {
        height: 80px;
    }

    .r_list>ul>li {
        width: 80px;
    }

    .r_area .tit_r07,
    .r_area .tit_r25 {
        width: 80px;
    }

    .edr_graph .graph_list.type02>ul>li>em {
        height: 25px;
    }

    .mba div,
    .wsa div {
        width: auto;
        height: auto;
        padding: 2px 5px;
    }

    .airstrip_detail .tit,
    .rwy_list .tit {
        margin-bottom: 5px;
    }
}

@media screen and (max-height: 860px) {
    .real_num>ul {
        margin-bottom: 1px;
    }
}

@media screen and (max-height: 840px) {

    .airstrip_list>li,
    .height_area>ul>li,
    .box_airstrip {
        height: 75px;
    }
}

@media screen and (max-height: 810px) {

    .airstrip_list>li,
    .height_area>ul>li,
    .box_airstrip {
        height: 70px;
    }
}

@media screen and (max-height: 790px) {

    .airstrip_list>li,
    .height_area>ul>li {
        height: 65px;
    }
}

@media screen and (max-height: 750px) {
    .plumb_contents {
        overflow: hidden;
    }

    .airstrip {
        height: auto;
    }

    .plumb_map {
        margin: 15px;
        overflow-y: scroll;
    }

    .r_area {
        margin: 20px 0;
    }

    .airstrip_list>li,
    .height_area>ul>li {
        height: 75px;
    }

    .airstrip_detail .tit,
    .rwy_list .tit {
        margin-bottom: 10px;
    }
}